/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

html {
  font-size: 62.5%;
}

body {
  background: #40916c;
  font-family: "Iceland", cursive;
}

.container {
  width: 37.5rem;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.game-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.game-info h1 {
  font-size: 6.2rem;
  color: #fff;
}

#reset-btn {
  background-color: transparent;
  border: none;
}

.reset-icon {
  font-size: 4rem;
  cursor: pointer;
  color: #000022;
}

#boxes {
  display: flex;
  flex-wrap: wrap;
  background: #2d6a4f;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

#boxes .box {
  border: 1px solid #fff;
  width: 7.5rem;
  height: 7.5rem;
  cursor: pointer;
}

.bomb {
  background-color: #f00;
}

.number {
  background-color: #0f0;
}

.switch {
  width: 15rem;
  height: 7rem;
  background: #2d6a4f;
  border-radius: 5rem;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

.icon {
  font-size: 3.5rem;
  text-align: center;
  fill: #fff;
}

.switch div {
  margin: auto 0;
  width: 5.7rem;
  height: 5.7rem;
  border-radius: 5rem;
  padding: 1.1rem;
  transition: all 0.5s ease-out;
}
.switch div.active {
  background-color: #40916c;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.switch div.active .mine {
  fill: #d90429;
}

.switch div.active .flag {
  fill: #003566;
}
