/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

html {
  font-size: 62.5%;
}

body {
  background: #40916c;
  font-family: "Iceland", cursive;
}

.container {
  width: 37.5rem;
  margin: 4.4rem auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
}

.game-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.game-info h1 {
  font-size: 6.2rem;
  color: #fff;
}

#reset-btn {
  background-color: transparent;
  border: none;
}

.reset-icon {
  font-size: 4.4rem;
  cursor: pointer;
  color: #fff;
}

#boxes {
  display: flex;
  flex-wrap: wrap;
  background: #2d6a4f;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

#boxes .box {
  border: 1px solid #fff;
  width: 7.5rem;
  height: 7.5rem;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.open-number {
  font-size: 6.2rem;
  color: #fff;
}

.open-mine {
  font-size: 5.5rem;
  color: #d90429;
}

.open-zero {
  background-color: #1b4332;
}

.start-modal-hidden {
  visibility: hidden;
}

.start-modal,
.game-over-modal,
.you-win-modal {
  position: absolute;
  top: 2.5%;
  left: 2.5%;
  padding: 3.2rem;
  width: 95%;
  height: 95%;
  background-color: #000;
  border-radius: 1.2rem;
  opacity: 0.95;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.game-over-modal-hidden {
  display: none;
}

.you-win-modal-hidden {
  display: none;
}

.modal-header {
  text-align: center;
}

.modal-title {
  color: #fff;
  font-size: 6.2rem;
}

.start-modal h2 {
  font-style: italic;
  color: #fff;
  font-size: 7.4rem;
  text-transform: uppercase;
}

.start-game-label {
  border: 2px solid #fff;
  padding: 1.6rem;
  border-radius: 1.2rem;
  font-size: 4.4rem;
  color: #fff;
  cursor: pointer;
}

.start-game-label:hover {
  color: #000;
  background-color: #fff;
}
